* {
	margin: 0;
	padding: 0;
	--white: #ffffff;
	--lightWhite: #eff2f5;
	--darkWhite: #f3f3f3;
	--lightgray: #d3d3d3;
	--gainsboro: #dcdcdc;
	--gray: #808080;
	--black: #000000;
	--lightblue: #3ea4fb;
	--darkblue: #3cabfa;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}
